/*@font-face {*/
/*	font-family: "Inter Semi Bold";*/
/*	src: url("../assets/fonts/Inter-SemiBold.ttf");*/
/*}*/

/**,*/
/**:before,*/
/**:after{*/
/*	padding: 0;*/
/*	margin: 0;*/
/*	box-sizing: border-box;*/
/*	font-family: 'Inter',sans-serif !important;*/
/*}*/

/*.display-4 {*/
/*	font-family: 'Inter', sans-serif;*/
/*}*/

/*.card {*/

/*}*/

/*.card * {*/
/*	font-family: 'Inter',sans-serif !important;*/
/*	color: #ffffff !important;*/
/*	letter-spacing: 0.5px !important;*/
/*	outline: none !important;*/
/*	border: none !important;*/
/*}*/

/*.card-header h4{*/
/*	font-size: 32px;*/
/*	font-weight: 500;*/
/*	line-height: 42px;*/
/*	text-align: left;*/
/*}*/

/*.card p{*/
/*	font-style: normal;*/
/*	font-weight: 400;*/
/*	font-size: 16px;*/
/*	line-height: 19px;*/
/*	color: #656565 !important;*/
/*}*/

/*form *{*/
/*	color: #ffffff;*/
/*	letter-spacing: 0.5px;*/
/*	outline: none;*/
/*	border: none;*/
/*}*/

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.8); /* 50% transparent white */
}

body{
	background: url("../assets/images/register_background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(255, 255, 255); /* 50% transparent white */
}

.overlay {
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);
}

.center-content{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	padding: 10px;
}

.vertical-center {
	display: flex;
	align-items: center;
}
